<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
        /* Custom CSS for centering elements */
        .center-container {
            text-align: center;
            margin-top: 100px; /* Adjust as needed */
        }

        body {
            background-image: url('/images/education.jpg');
            background-size: cover;
        }    
        
        footer {
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        .text {
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }   
    </style>
    <title>Document</title>
</head>
<body background="/images/education.jpg">
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <h1 class="display-4">TutorHub</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav mr-auto">
                    <a class="nav-link active" aria-current="page" href="/aboutus">About Us</a>
                    <a class="nav-link active" aria-current="page" href="/enquiry">Enquire</a>
                    <a class="nav-link active" aria-current="page" href="/services">Services</a>
                </div>
            </div>
            <a href="/">
                <img src="/images/finished2.png" width="150" height="70" class="d-inline-block align-text-top">
            </a>
        </div>
        
    </nav>
    <div class="container text-white">
        <div class="row justify-content-center">
            <div class="col-md-8 center-container">
                <h1 class="text-centre display-2 text">TutorHub</h1>
                <p class="text-centre text" style="font-size: 20px">At TutorHub, we understand that every student is unique. Our mission is to provide tailored tutoring solutions that resonate with individual learning styles. Whether it's mastering a challenging subject or preparing for exams, we're dedicated to inspiring confidence and unlocking the full potential of each student through mentorship and building relationships.</p>
                <a href="/enquiry" class="btn btn-primary">Enquire Now!</a>
            </div>
        </div>
    </div>

    <footer class="footer bg-primary text-light text-center">
        <div class="container">
            <div class="row">
                <div class="text-black col-md-4 display-3">
                    <p style="font-size: 40px">Contact Us!</p>
                </div>
                <div class=" text-black col-md-4">
                    <p style="font-size: 20px">Email:</p>
                    <p>tutorhub321@gmail.com</p>
                </div>
                <div class="text-black col-md-4 text-md-right">
                    <p style="font-size: 20px">Phone:</p>
                    <p>Dean - 0490 375 031<br>Harry - 0490 764 929</p>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>